# Terraform files
# -----------------
# The .terraform directory stores providers, modules, and other plugins.
Terraform-backend/terraform.lock.hcl
.terraform/
.terraform.lock.hcl

# Terraform state files - CRITICAL!
# These files contain a snapshot of your infrastructure and can include secrets.
# You are using a remote S3 backend, so these should NEVER be committed.
Terraform-backend/terraform.tfstate
*.tfstate
*.tfstate.*

# Terraform plan files
*.tfplan

# Local sensitive variables
# Your CI/CD process should handle variables from other sources.
# To prevent accidentally committing sensitive data
# terraform.tfvars

# Backup files
*.tf~
*.tf.backup


# IDE and OS files
# -----------------
# VS Code
.vscode/

# IntelliJ / PyCharm
.idea/

# macOS files
.DS_Store

# Windows files
thumbs.db


# Python files
# -----------------
# Python virtual environments
venv/
.venv/

# Compiled Python files
__pycache__/
*.pyc

# Local dependencies
pip-selfcheck.json


# Other Build Artifacts
# -----------------
# CodeBuild generates this file
imagedefinitions.json
